@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: rgba(59, 59, 59);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
}
body {
  direction: ltr;
  margin: auto;
  background: #ecf0f0;
  font-size: 0.9em;
  color: #222;
}
span {
  font-weight: 200;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.navigation a {
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  padding-left: 20px;
  color: white;
}
.navigation a:hover {
  color: rgb(129, 129, 129);
}
section {
  padding: 100px 200px;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("imges/got_background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #000000;
  display: flex;
  align-items: center;
}
.home .movie-info .bi {
  color: #ffc400;
}
.home .movie-info h4 {
  font-size: 1.4em;
  letter-spacing: 4px;
  font-weight: 500;
}

.home .movie-info h1 {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 4em;
  transition: 0.5s ease;
  padding: 20px 0;
  letter-spacing: 10px;
}

.home .movie-info p {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 4px;
  font-weight: 500;
  padding: 20px 0 30px;
}

.home .movie-info .title {
  position: relative;
  top: 37px;
  color: rgb(59, 59, 59);
  padding-left: 10px;
  /* background-color: rgb(230, 230, 230); */
}

.home .movie-info .story {
  border: 1px solid rgba(0, 0, 0, 0.411);
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 40px 0 50px 10px;
  background-color: rgba(236, 230, 230, 0.39);
}

.home .movie-info .movie-story hr {
  position: relative;
  top: 40px;
}

.movie-story {
  width: 1000px;
}

.home .cast h2 {
  position: relative;
  top: 37px;
  font-size: 2em;
  color: rgb(59, 59, 59);
  padding-left: 10px;
}

.home .cast img {
  position: relative;
  right: 240px;
  top: 70px;
  display: inline-block;
  margin: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.home .cast .name {
  position: relative;
  right: 200px;
  top: 60px;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  margin-right: 10px;
}
.home .cast .name span {
  color: rgb(0, 0, 0);
  font-size: 1em;
}
.home .cast {
  display: flex;
  flex-wrap: wrap;
}

.home a {
  text-decoration: none;
  position: relative;
  left: 500px;
  font-size: 1.5em;
  font-size: 800;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 16px;
  border-radius: 20px;
  transition: 0.7s ease;
  margin: 10px;
}
.home a:hover {
  background-color: rgb(85, 82, 82);
  transform: scale(1.1);
}
#trailer {
  background-image: url("imges/got_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#trailer h1 {
  padding-left: 500px;
  font-size: 2em;
  font-weight: 700;
}

#trailer video {
  padding-left: 300px;
  width: 1100px;
  height: 450px;
}
#trailer .watch-movie {
  padding-left: 550px;
  padding-top: 200px;
  font-size: 2.5em;
  font-weight: 700;

  letter-spacing: 2px;
}
.head {
  width: 100%;
  height: auto;
  /* border: 1px solid #fff; */
  margin: auto;
}
.bx {
  position: relative;
  left: 500px;
  width: 400px;
  height: 600px;
  /* border: 1px solid #fff; */
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  transition: 0.8s ease;
}
.bx:hover {
  transform: scale(1.1);
}
.bx:hover {
  opacity: 0.7;
}
.bx img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.bx .content {
  position: absolute;
  width: 104%;
  height: 30%;
  /* background: green; */
  left: 20px;
  bottom: 0;
  border-radius: 0px 0px 20px 20px;
  z-index: 1;
  align-items: center;
  /* right: 10px; */
}

.bx .content::before {
  position: absolute;
  left: 0px;
  content: "";
  width: 87%;
  height: 90%;
  background-color: rgb(185, 185, 185, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 20px 20px;
  z-index: -1;
}
.content h3 {
  position: relative;
  color: #fff;
  left: 65px;
  padding: 5px 0px 0px 10px;
  font-size: 25px;
}

.content p {
  position: relative;
  left: 80px;
  color: #fff;
  padding: 0px 0px 5px 10px;
  font-size: 13px;
}

.content h6 {
  position: relative;
  left: 120px;
  color: #fff;
  padding: 0px 0px 5px 10px;
  font-size: 13px;
}
.content h6 span {
  color: rgb(0, 0, 0);
  background: yellow;
  padding: 2px 5px;
  font-size: 13px;
  border-radius: 5px;
}

.content h6 .bi {
  color: yellow;
  font-size: 15px;
  margin-left: 5px;
}

.bx a {
  position: absolute;
  bottom: 30px;
  left: 110px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(187, 184, 184);
  border-radius: 10px;
  padding: 5px;
  margin: 1px;
  transition: 0.8s ease;
}
.bx a:hover {
  background-color: #fff;
  transform: scale(1.1);
}
.footer {
  background-color: rgb(83, 83, 83);
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 700;
}

.footer .social-icons a {
  font-size: 2em;
  color: #fff;
  margin: 10px;
}

.title-series {
  display: flex;
  justify-content: center;
  font-size: 3em;
  text-transform: uppercase;
  background-color: rgb(83, 83, 83);
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 150px;
}
